{% extends 'layout/base.html' %}{% load static %} {% block content %}
<script defer src="{% static 'js/webcam.js' %}"></script>

<div class="main">
  <div class="container">
    <div class="mac-controls">
      <div class="item red"></div>
      <div class="item orange"></div>
      <div class="item green"></div>

      <a href="/livecam" class="webcam-option"><small>Realtime</small></a>
      <a
        href="/webcam"
        style="background-color: rgba(186, 255, 149, 1); margin-left: 0"
        class="webcam-option"
        ><small>Upload</small></a
      >
    </div>
    <div class="preview">
      <video id="video" autoplay muted></video>
      <img id="previewImage" style="display: none" />
    </div>
  </div>

  <section class="result-container">
    <div class="container white">
      <button id="captureButton" class="w-100 btn btn-success">
        Capture <i class="fa fa-camera ms-2" id="icon"></i>
      </button>
      <button
        id="newCaptureButton"
        class="btn btn-outline-warning"
        style="display: none"
      >
        Another <i class="fa fa-camera ms-2" id="icon"></i>
      </button>
    </div>

    <button
      type="submit"
      id="submit-capture"
      class="w-25 btn btn-success ms-2"
      style="display: none"
    >
      Upload
    </button>
  </section>
</div>
{% endblock %}
